/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin SnomedVisualization {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
  	/*Walk around to override the overflow proeprty of the absolute layout*/
  	.v-absolutelayout-margin {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: visible !important;
	}
	
	.my-scroll {
		overflow: auto;
	}
	
	.v-absolutelayout {
		background-color:white;
	}
	
	/* Hides the toolbar of the RichTextArea */
	.gwt-RichTextToolbar { 
		display: none;
	}
	
	.gwt-RichTextArea {
		width: 100%;
		height: 100%;
		
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
     	box-sizing: border-box;  		/* Opera/IE 8+ */
     
     	background-color:white;	
	}
	
	.disable-scroll {
		overflow:hidden;
		font-size: 16px;
		font-weight: bold;
	}
	
	.v-caption {
		overflow: hidden;
		white-space: nowrap;
		font-size: 16px;
		font-weight: bold;
		margin-top:10px;
		margin-left:10px;
	}
	
	.v-Notification.error-notification-style {
		background: #C00000;
		/*border: 10px solid #C00000;*/
		color: white;
	}
	
}
